
<li class="blog-title">
<i class="fa fa-coffee" aria-hidden="true"></i>
<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
<a class="blog-title-link" href="#post/{{_id}}">{{PostTitle}}</a>
</li>
