
<li class="blog-content-li">
  <div class="arrow-left"></div>
  <h4>{{PostTitle}}</h4>
  <span class="post-date">Posted on: {{currentDate}}</span>
  <div class="social">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-rss-square" aria-hidden="true"></i>
    <i class="fa fa-share-alt-square" aria-hidden="true"></i>
  </div>

    <p class="post-content">
      {{PostContent}}
    </p>
</li>
